<body>

<%= pp @polling_locations_table %>
<br><br>


        
        
    <!-- polling place loop -->

    <h2>  
    <div class="container">
        <div class="row">
            <div class="col">
                Polling Location Name
            </div>
            <div class="col">
                Polling Location Address 
            </div>
        </div>
    </div>
    </h2>

    <div class="container"
        
        <% for poll in @polling_locations_table %>
        <div class="row">
            <div class="col">           
                <a href="/poll_monitor/<%= poll[:id] %>"><%= poll[:polling_name]%></a>
            </div>
            <div class="col">
                <%= poll[:polling_address]%>
            </div>
        </div>
        <% end %>
            
         
        
    </div>







</body>