<body>

<h1>Poll Index</h1>
<br><br>


        
        
    <!-- polling place loop -->

    <h2>  
    <div class="container">
        <div class="row">
            <div class="col-6">
                Polling Location Name
            </div>
            <div class="col-6">
                Polling Location Address 
            </div>
        </div>
    </div>
    </h2>

    <div class="container"
        <div class="row">
        <% for poll in @polling_locations_table %>
            <div class="row">
            <div class="col-6">           
                <a href="/poll_monitor/<%= poll[:id] %>"><%= poll[:polling_name]%></a>
                
            </div>
            <div class="col-6">
                <%= poll[:polling_address]%>
            </div>
            
            </div>
        <% end %>
            </div>
         
        
    </div>







</body>